<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>나무스튜의 이미지 호스팅 서비스</title>
</head>
<body>
  <h1>나무스튜의 이미지 호스팅 서비스</h1>
  파일: <a href="<%= name%>"><%= name%></a><br>
  <a href="./">메인으로</a>
</body>
</html>